# Decision Tree Classifer

## 1-Importing libraries and dataset

In [15]:
#Import Libraries
import pandas as pd
df = pd.read_csv("mldata.csv")

In [16]:
df.head(5)

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

## 2-Expolarity Data Analysis

In [17]:
df.describe()

              age      weight
count  245.000000  245.000000
mean    28.653061   70.743837
std      6.283438   18.342101
min     18.000000    6.000000
25%     25.000000   60.000000
50%     28.000000   70.000000
75%     31.000000   80.000000
max     68.000000  179.000000

In [18]:
df.shape

(245, 5)

In [19]:
df.dtypes

age           int64
weight      float64
gender       object
likeness     object
height       object
dtype: object

In [20]:
df.value_counts(
)

age  weight  gender  likeness  height
34   98.0    Male    Biryani   176.5     2
18   55.6    Male    Biryani   176       1
29   88.2    Male    Samosa    182.88    1
30   60.0    Female  Pakora    165       1
             Male    Biryani   164       1
                                        ..
26   70.0    Male    Biryani   5.11      1
     74.0    Male    Biryani   5.5       1
     76.0    Male    Samosa    174.1     1
     90.0    Male    Biryani   164.59    1
68   68.0    Male    Pakora    71        1
Length: 244, dtype: int64

In [21]:
df['gender'].unique

<bound method Series.unique of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
240      Male
241      Male
242      Male
243      Male
244    Female
Name: gender, Length: 245, dtype: object>

In [22]:
#Replacing catagorical values with dummy numerical values
df['gender'] = df['gender'].replace('Male',1)
df['gender'] = df['gender'].replace('Female',0)
df.tail(5)

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

## 3-Selection of algorithm

In [23]:
#Selection of columns for input or ouput values
x = df[['age', 'gender', 'weight']]
y = df['likeness']

### -Dump/save our model

In [29]:
from sklearn.tree import DecisionTreeClassifier

#joblib used for dump our model
import joblib
joblib.dump(model , "foodie.joblib")

#modelselection and fitting
model = DecisionTreeClassifier().fit(x,y)

In [25]:
#Predicting a rendom array
model.predict([[21,63,1]])

c:\Users\Muhammad Atif Altaf\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

## 4-Checking the accuracy of our trained model

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.metrics  import accuracy_score
x_train , x_test ,y_train , y_test = train_test_split(x,y,test_size=0.2 ) 
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predicated_values = model.predict(x_test)
score = accuracy_score(y_test , predicated_values)
score

0.4489795918367347

## 5-Graphical reprenstation of DecisionTreeClassifer

In [27]:
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)
tree.export_graphviz(model,
out_file = 'foodie.dot',
feature_names = ['age','Weight','gender'],
class_names = sorted(y.unique()),
label='all',
rounded=True,
filled= True)